ipykernel==6.30.0
jupyter==1.1.1
jupyter-cache==1.0.1
keras==3.14.0
matplotlib==3.10.3
nbclient==0.10.2
numpy==2.3.1
optuna==4.4.0
pandas==2.3.1
properscoring==0.1
scikit-learn==1.7.1
scipy==1.16.0
seaborn==0.13.2
tensorflow==2.21.0
