.quarto-container .content p {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
}

.callout-important {
  --quarto-callout-color: #006400;
  --quarto-callout-color-rgb: 0, 100, 0;
  border-left-color: #006400 !important;
}

.callout-important.callout-style-default > .callout-header {
  background-color: #eaf5ec !important;
  color: #006400 !important;
}

.callout-important .callout-icon::before {
  filter: hue-rotate(110deg) saturate(70%) brightness(85%);
}
